<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../css/bootstrap.min.css" />
        <link rel="stylesheet" href="../css/app.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
        <title>{{ pages_h1[section][current]}}</title>
    </head>
    <body>

        <div class="container">
            {% if  (slug != 'accueil') %}
                <h1 class="mt-3 mb-5">
                    {{pages_h1[section][current]}}
                </h1>
            {% endif %}

            {% block body %}
            {% endblock body %}
        </div>
        {% if  (slug != 'accueil') %}

            {% set np = nextPage(section, current, pages_slug) %}
            {% set pp = previousPage(section, current, pages_slug) %}

            <div class="container text-right">
                <div class="row">
                    <button class="button btn btn-primary m-2 ml-auto">
                        <a href="index.php?p=accueil"><i class="fas fa-home"></i>&ensp;Retour à l'accueil</a>
                    </button>
                    <button class="button btn btn-primary m-2">
                        <a href="javascript:history.back()">Retour dernière page&ensp;<i class="fas fa-arrow-up"></i></a>
                    </button>
                    <button class="button btn btn-primary m-2">
                        <a href="index.php?p={{pp}}"><i class="fas fa-arrow-left"></i>&ensp;Page précédente</a>
                    </button>
                    <button class="button btn btn-primary m-2">
                        <a href="index.php?p={{np}}">Page suivante&ensp;<i class="fas fa-arrow-right"></i></a>
                    </button>
                </div>
        </div>
        {% endif %}
    </body>
</html>
