{% extends 'base.html.twig'%}


{% block body %}
{{ page }}<br>
    <ol>
        <li>création d'un formulaire</li>
            <ul class="niv2">
                <li>
                <span class="tt">
                    php bin/console make:form &ensp; [nom_du_formulaireType]    
                </span>
                </li>
                <li>si nécessaire, modifier le constructeur de formulaire dans&nbsp;: 
                <span class="tt">
                    nom_du_formulaireType.php    
                </span>
                </li>
                <li>puis le configurer en ajoutant</li>
                    <ol class="niv3">
                        <li>
                            argument 2&nbsp;: la classe du champ (p.ex. <span class="tt">TextType::class</span>)
                        </li>
                        <li>
                            argument 3&nbsp;: un tableau d'options (label, attributs, etc.)
                            <ul>
                                <li class="text-muted">
                                    voir 
                                        <a href="index.php?p=inserer-getconfiguration-dans-une-classe">
                                            ici
                                        </a> 
                                        pour la création d'une classe permettant l'intégration d'une méthode 
                                        <span class="tt">getConfiguration()</span> qui simplifie le processus de configuration
                                </li>
                            </ul>    
                        </li>
                    </ol>
                <li>
                    rappel : pour appliquer le style bootsrap, ajouter le <span class="tt">form_theme</span> dans le fichier <span class="tt">config/packages/twig.yaml</span> (voir <a href="index?p=mise-en-place-du-projet">ici</a>)
                </li>
            </ul>
        </li>
        <li>si le formulaire comporte un champ password,
            <ul class="niv2">
                <li>injection de dépendance dans les arguments de la fonction correspondante (p.ex. register) pour obtenir l'encodeur&nbsp;:
                <ul>
                    <li><span class="tt"> public function register( ..., UserPasswordEncoderInterface $encoder);</span>
                    </li>
                </ul>
                </li>
                <li>utiliser l'encodeur pour encoder le mot de passe</li>
                    <ul>
                        <code class="html p-0 m-0">                   
                            <li class="p-0 m-0">		
                                <pre class="tt">
$hash = $encoder->encodePassword($user,  $user->getHash() );	// le 1er argument permet de savoir quel
								// algorithme utilisé défini dans security.yaml</pre>
                            </li>
                        </code>
                    </ul>
            </ul>
        </li>
        <li>
            si le formulaire a été soumis et s'il est correct, l'enregistrer le formulaire dans la base de données
            <ul class="niv2">
                <li>le bouton de soumission réaffiche la même page mais avec la requête en POST ce qui indique que le formulaire a été soumis</li>
                <li>récupération de la requête (dans la fonction create du contrôleur dans l'exemple ci-dessous)</li>
                <li>
                    pour mettre en place la validation, voir 
                    <a href="index.php?p=validation-de-formulaire">
                        ici
                    </a>
                </li>
                <li>utilisation du manager fourni grâce à  l'injection de dépendance pour sauvegarder le formulaire (persist puis flush)</li>
            </ul>
        </li>
        <li>prévenir l'utilisateur du résultat de l'opération</li>
            <ul class="niv2">
                <li>message flash dans la fonction appropriée du contrôleur</li>
                <li>traitement des flash dans <span class="tt"> base.html.twig</span> (ou dans un fichier inclus, p.ex. <span class="tt"> partials/header.html.twig</span>)</li>
                <li>on utilise la variable <span class="tt"> app.flashes</span></li>
                <ul>
                    <li class="text-muted">
                        voir la documentation de symfony <a href="https://symfony.com/blog/new-in-symfony-3-3-improved-flash-messages">ici</a>
                    </li>
                </ul>
            </ul>
        <li>
            exemple d'une fonction du contrôleur impliquant un formulaire
            <ul>
                <li>voir un exemple tiré du blog cuisine <a href="index.php?p=create">ici</a></li>
            </ul>
        </li>
    </ol>

{% endblock %}