{% extends "base.html.twig" %}

{% block body %}
<code class="html p-0 m-0">                   
    <pre>
namespace App\Form;

use Symfony\Component\Form\AbstractType;

class ApplicationType extends AbstractType {

     /**
     * Retourne la configuration d'un champ
     *
     * @param string $label
     * @param string $placeholder
     * @param array $options
     * 
     * @return array
     */
    protected function getConfiguration( $label, $placeholder, $options = [] ) {
        return array_merge( [
            'label' => $label,
            'attr' => [
                'placeholder' => $placeholder
            ]
        ], $options );
    }

}</pre>
</code>
    <ul class="niv1">
        <li>
            cette version de <span class="tt">getConfiguration</span>
            retourne le label et un attribut, le placeholder
        </li> 
        <li>
            il est possible d'ajouter un tableau d'autres options (paramètre 3) 
            <ul>
                <li>
                    il est ajouté (<span class="tt">array_merge()</span>) aux options <span class="tt">label</span> et <span class="tt">attr</span>
                </li>
                <li>
                    par défaut, ce tableau est vide
                </li>
                <li>
                    exemple d'utilisation
                    <span class="tt">$this->getConfiguration( "Adresse web", "Adresse web de votre annonce",
                ['required' => false ])</span>
                </li>
            
            </ul>
        </li>
    </ul>

{% endblock %}