{% macro section( key_index) %}

    {#
    détermine le titre de la section à partir de la key 
    du tableau associatif  (dans la variable subtitle) 
    puis l'affiche 
    puis affiche dans la boucle for toutes les pages de la section
    sous forme d'un lien cliquable
    #}
    {% set subtitle = pages_h1|keys[key_index] %}
    <h3 class="mt-3 mb-3">{{subtitle}}</h3>
    {% for i in 0..pages_slug[subtitle]|length-1 %}
        <li>
            <a href="index.php?p={{pages_slug[subtitle][i]}}">
                {{pages_h1[subtitle][i]}}
            </a>
        </li>
    {% endfor %}
{% endmacro %}