{% extends 'base.html.twig' %}

{% block body %}
        <ol>
            <li>
               <span class="tt">               
                    composer create-project symfony/website-skeleton blog_cuisine ^{version}
               </span>
               <ul>
                   <li class="text-muted">ou <span class="tt">^{version}</span> est la version de Symfony souhaitée</li>
               </ul>
            </li>
            <li>ajouter aux sauvegardes</li>
            <ul class="niv2">
                <li>dans iperius backup</li>
            </ul>
            <li>pour avoir la barre de débogage</li>
            <ul class="niv2">
                <li>
                   <span class="tt">
                        composer require symfony/apache-pack
                   </span>
                </li>
                <li>(et, peut-être 
                    <span class="tt">composer require symfony/profiler-pack</span>
                )</li>
            </ul>     
            <li>choisir un thème bootswatch</li>
            <li>si nécessaire, ajouter le thème pour les formulaires dans</li>
            <ul class="niv2">
                <li>
                    <span class="tt">
                        config/packages/twig.yaml
                    </span>
                </li>
                <ul>
                        <code class="html p-0 m-0">                   
                            <li class="p-0 m-0">		
                                <pre>
twig:
   form_themes: ['bootstrap_4_layout.html.twig']
                                </pre>
                            </li>
                        </code>
                </ul>
            </ul>
        </ol>
{% endblock %}