{% extends 'base.html.twig' %}
{% import 'macros.html.twig' as macros %}


{% block title %}{{ pages_h1[page_number]}}{% endblock %}


{% block pagetitle %}
    {{ macros.write_title(pages_h1[page_number]) }}
{% endblock %}

{% block body %}
    <div class="container">

        <ol>
            <li>composer create-project symfony/website-skeleton blog_cuisine ^{version}</li>
            <li>ajouter aux sauvegardes</li>
            <ul class="niv2">
                <li>dans iperius backup</li>
            </ul>
            <li>pour avoir la barre de débogage</li>
            <ul class="niv2">
                <li>composer require symfony/apache-pack</li>
                <li>(et, peut-être composer require symfony/profiler-pack)</li>
            </ul>     
            <li>choisir un thème bootswatch</li>
            <li>si nécessaire, ajouter le thème pour les formulaires dans</li>
            <ul class="niv2">
                <li>config/packages/twig.yaml</li>
                <ul>
                    <div>
                        <code class="html p-0 m-0">                   
                            <li class="p-0 m-0">		
                                <pre>
twig:
   form_themes: ['bootstrap_4_layout.html.twig']
                                </pre>
                            </li>
                        </code>
                    </div>
                </ul>
            </ul>
        </ol>

</div>
{% endblock %}