{% extends 'base.html.twig' %}

{% block body %}
    <ol>
        <li>
            nouvelle fonction dans <span class="tt">AccountController.php</span>
            <ul class="niv2">
                <li>créer p.ex. une fonction <span class="tt">register</span> avec la route <span class="tt">/register</span> ou <span class="tt">account_register</span></li>
            </ul>
        </li>
        <li>
            dans la console, créer un formulaire de type <span class="tt"></span>RegistrationType</span> basé sur User
        </li>
        <li>
            validation des champs du formulaire (voir  <a href="index.php?p=validation-de-formulaire">ici</a> )
        </li>
        <li>
            confirmation du mot de passe
            <ul class="niv2">
                <li>dans RegistrationType.php, ajouter le champ</li>
                <ul>
                    <code class='html p-0 m-0'>
                        <li class='p-0 m-0'>
                            <pre>
    ->add("passordConfirm", PasswordType::class, $this->getConfiguration( ... ) )
                            </pre>
                        </li>
                    </code>
                </ul>
                <li>dans User.php, ajouter l'attribut</li>
                <ul class="niv2">
                    <code class='html p-0 m-0'>
                        <li class='p-0 m-0'>
                            <pre>
        /**
	* @Assert\EqualTo(propertyPath="hash", message="Les mots de passe ne sont pas identiques")
	*/
	public $passwordConfirm; /* ou bien en private avec les accesseurs */

                            </pre>
                        </li>
                    </code>
                </ul>
            </ul>
        </li>
    </ol>
{% endblock %}