{% extends 'base.html.twig' %}

{% block body %}
    <ol>
        <li>
            dans le <span class="tt">AccountController.php</span>
            <ul class="niv2">
                <li>
                    ajouter la fonction <span class="tt">profile</span> avec la route <span class="tt">/account/profile</span>
                </li>
            </ul>
        </li>
        <li>
            créer le <span class="tt">profile.html.twig</span>
        </li>
        <li>
            éditer le AccountType.php pour ne conserver que les champs à modifier
            <ul>
                <li>
                    en particulier, on ne modifiera pas ici le mot de passe (voir <a href="index.php?p={{pages_list[findPageNumber("page-de-modification-du-mot-de-passe",pages_list)]}}">ci-dessous</a>)
                </li>
            </ul>
        </li>
        <li>
            dans le <span class="tt">AccountController.php</span> (voir <a href="index?p={{pages_list[findPageNumber("formulaires", pages_list)]}}">ici</a> )
            <ul class="niv2">
                <li>
                    obtenir l'utilisateur connecté
                    <ul>
                        <li><span class="tt">$user = $this->getUser();</span></li>
                    </ul>
                </li>
                <li>
                    créer la variable <span class="tt">$form</span>
                    <ul>
                        <li><span class="tt">$form = $this->createForm(AccountType::class, $user);</span></li>
                    </ul>
                </li>
                <li>
                    passer à twig (arg. 2) le formulaire
                    <ul>
                        <li><span class="tt">['form' => $form->createView($form)]
</span></li>
                    </ul>
                </li>
            </ul>
        </li>
    </ol>
{% endblock %}