{% extends 'base.html.twig' %}

{% block body %}
        <ol>
           <li>
               généralement, on commence par écire la page d'accueil
           </li>
            <li>
                création de la page d'accueil
                <ul class="niv2">
                    <li>php bin/console make:controller [nom] (p.ex. HomeController)</li>
                    <li>puis création du fichier twig</li>
                </ul>
            </li>
            <li>
                git add . puis git commit -m "..."
            </li>
        </ol>
{% endblock %}